-@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Koulen&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #676767;
   
}

.menubar {
    transition: 0.5s ease;
    padding: 5px;
    width: 5%;
    min-height: 100vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(90deg,#B6B6B4,#808080);
    display:flex;
}
.menubar.active{
    padding: 5px;
    width: 12%;
    min-height: 100vh;
    border-bottom-right-radius: 10px;
    border-top-right-radius:10px;
    background: linear-gradient(90deg,#B6B6B4,#808080);
    position: fixed;
}


.barmenu{
    transition: 0.5s ease;
    margin-top: 10px;
    position: absolute;
    left: 25px;
    display: block;
    padding: 5px;
    cursor: pointer;
    
}
.barmenu.active{
    margin-top: 0px;
    position: absolute;
    left: 180px;
    display: block
}


.logo_center{
    transition: 0.5s ease;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -50px;
    width: 100%;
}
.logo.active{
    transition: 0.5s ease;
    padding: 12px;
    opacity: 1;
}
.logo{
    padding: 15px;
    opacity: 0;
}
.logo h1{
    font-size: 1.4em;
}



.bar.active:nth-child(1){
    transition: 1.5s ease;
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transform: translateX(0px) rotate(0deg);
}
.bar.active:nth-child(2){
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transform: translateX(0px) rotate(0deg);
}
.bar.active:nth-child(3){
    transition: 1.5s ease;
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transform: translateX(0px) rotate(0deg);
}
.bar:nth-child(1){
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transform: translateX(10px) rotate(45deg);
}
.bar:nth-child(2){
    display: block;
    width: 36px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
}
.bar:nth-child(3){
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
    transform: translateX(10px) rotate(-45deg);
}
.input{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.letters{
    position: relative;
    left: -130px;
    top: 350px;
    display: flex;
    height: 1px;
}
.letters span:nth-child(1){
    position: relative;
    height: 40px;
    left: 50px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    transform: rotate(30deg);
    top: -280px;
}
.letters span:nth-child(2){
    position: relative;
    transform: rotate(-20deg);
    height: 40px;
    left: -15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    top: -75px;
}
.letters span:nth-child(3){
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    position: relative;
    transform: rotate(-20deg);
    height: 40px;
    left: -15px;
    top: 75px;
}
.letters span:nth-child(4){
    position: relative;
    transform: rotate(-10deg);
    height: 40px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    left: -55px;
    top: 200px;
}

.options_menu{
    transition: 1s ease;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 0;
    cursor: pointer;
}
.menu{
    transition: 1s ease;
    padding: 7px;
    font-weight: 800;
    color: black;
    margin-top: 35px;
    display: flex;
    border-radius: 6px;
    background-color: rgb(245,245,245);
}
.language{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 300px;
    margin-top: 80px;
    text-align: center;
    left: 400px;
    background-color:#E8E8E8;
    box-shadow: 1px 1px 20px 45px #E8E8E8;
}
.language p{
    display: flex;
    margin-top: 30px;
}
.language h2{
    margin-top: 20px;
}
.study{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 300px;
    margin-top: 80px;
    text-align: center;
    left: 1500px;
    background-color:#E8E8E8;
    box-shadow: 1px 1px 20px 45px #E8E8E8;
}
.study p{
    display: flex;
    margin-top: 10px;
}
.study h2{
    margin-top: -10px;
}
.contact{
    position: absolute;

}
.contact h2{
    letter-spacing: 1px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    position: absolute;
    top: 70%;
    width: 120px;
    justify-content: center;
    align-items: center;
    height: 8%;
    left: 210%;
    display: flex;
    background-color: #757c88;
    border-radius: 5px;
    padding: 15px;
    opacity: 1;
}


.contact h2::after{
    letter-spacing: 1px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    content: 'contact';
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
    padding: 15px;
    opacity: 1;
    height: 8%;
}

.contact p{
    display: flex;
    padding: 23px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #757c88;
    top: 673px;
    border-radius: 5px;
    left: 205%;
    height: 8%;
    width: 35%;
    opacity: 0;
}
.contact p:hover{
    height: 8%;
    padding:23px;
    opacity: 1;
}
img{
    opacity: 1;
    transform: scale(30%);
    position: relative;
    display: block;
    left: 920px;
    top: 280px;
}


.menu:hover{
    padding: 7px;
    font-weight: 800;
    width: 140%;
    color: black;
    margin-top: 35px;
    display: flex;
    border-radius: 6px;
    background-color: rgb(245,245,245);
    transform: translateX(20px);
    transition: 0.5s ease;
}
a{
    text-decoration: none;
    color: black;
    
}

.menu:nth-child(1):hover::before{
    content: '';
    width: 200px;
    height: 296px;
    transition: 0;
    left: 260px;
    position: absolute;
    background-image: url(weight2.jpg);
    display: block;
}
.menu:nth-child(2):hover::before{
    content: '';
    width: 270px;
    height: 150px;
    transition: 0;
    left: 260px;
    position: absolute;
    background-image: url(todo2.jpg);
    display: block;
}
.menu:nth-child(3):hover::before{
    content: '';
    width: 135px;
    height: 140px;
    transition: 0;
    left: 260px;
    position: absolute;
    background-image: url(counter.jpg);
    display: block;
}
.menu:nth-child(4):hover::before{
    content: '';
    width: 230px;
    height: 329px;
    transition: 0;
    left: 260px;
    position: absolute;
    background-image: url(side.jpg);
    display: block;
}
.menu:nth-child(5):hover::before{
    content: '';
    width: 180px;
    height: 127px;
    transition: 0;
    left: 260px;
    position: absolute;
    background-image: url(pet.png);
    display: block;
}
.menu:nth-child(6):hover::before{
    content: '';
    width: 320px;
    height: 168px;
    transition: 0;
    left: 260px;
    position: absolute;
    background-image: url(website.png);
    display: block;
}


    


.sidebar.active{
    margin-top: 60px;
    position: fixed;
    display: block;
    
}
.sidebar{
    display: none;
}
.back_color{
    margin-top: 10px;
    position: relative;
    display: flex;
    left: 1850px;
    float: left;
    flex-direction: column;
}
.back_color input{
    margin-top: 10px;
    margin: 11px;
    display: none;
}

.toggle_fill1{
    margin-top: 10px;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background: #808080;
    transition: 0.2s;
}
.toggle_fill2{
    margin-top: 10px;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background: #888888;
    transition: 0.2s;
}
.toggle_fill3{
    margin-top: 10px;
    position: relative;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background: #909090;
    transition: 0.2s;
}
.toggle_fill::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1.5px;
    width: 27px;
    height: 21px;
    transition: 1s;
    cursor: pointer;
    border-radius: 20px;
    background: #ffff;
}
.toggle_fill:checked {
    background: red;
}

.cv{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    margin-top: 100px;
    position: absolute;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 200px;
    left: 870px;
    height: 360px;
    text-align: center;
    background-color:#E8E8E8;
    opacity: 1;
    box-shadow: 1px 1px 20px 45px #E8E8E8;
}
.review{
    margin-top: 440px;
    position: absolute;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 200px;
    left: 1px;
    text-align: center;
    background-color:#E8E8E8;
    box-shadow: 1px 10px 20px 45px #E8E8E8;
}
h1{
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    
}
.second{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    position: absolute;
    width: 200px;
    left: 870px;
    opacity: 1;
    background-color:#E8E8E8;
    box-shadow: 1px 1px 20px 45px #E8E8E8;
    height: 360px;
    text-align: center;
    padding: 0px 25px 0px 15px;
    display: none;
}
.flip2{
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Koulen', cursive;
    margin-top:30px;
    display: none;
    position: relative;
    left: -15px;
    top: 5px;
    border-radius: 5px;
    width: 200px;
    background-color: rgba(97, 95, 95, 0.45);
    filter: blur(0.7px);
    cursor: pointer;
}


.flip{
    margin-top: 22px;
    cursor: pointer;
    box-shadow: -60px -47px 0px -12px rgba(97, 95, 95, 0.45) inset;
    border-radius: 5px;
    filter: blur(0.7px);
    opacity: 1;
}

.cv.active{
    display: none;
}
.flip.active{
    display: none;
}
.second.active{
    display: block;
}
.flip2.active{
    display: block;
}