@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header
{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.png);
    min-height: 100vh;
    width: 100%;
}
nav
{
    display: flex;
    justify-content: space-between;
    padding: 30px 90px 0 40px;
    align-items: center;
}
nav img
{
    width: 12%;
}
.nav-links ul
{
    display: flex;
    list-style: none;

}
.nav-links ul li
{
    margin-left: 30px;
    
}
.nav-links ul li a
{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}
.textbox
{
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;

}
.textbox h1
{
    margin-bottom: 11px;
    color: #ffffff;
    font-size: 3em;
}
.textbox p
{
    color: #ffffff;
    font-size: 1.3em;
    margin-bottom: 40px;
}
.textbox a
{
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #ffffff;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    left: 45%;
}
.textbox a:hover
{
    color: #ffffff;
    border: solid 1px orange;
    background-color: orange;
    transform: translateY(4px);
}
.course .fo1
{
    position: relative;
    left: 2%;
}
.course .fo1 h1
{
    font-size: 2em;
    margin-top: 60px;
    display: flex;
    color: #0f0f0f;
    position: relative;
    justify-content: center;
    text-align: center;
    
}
.course .fo1 p
{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    color: #575757;
}
.course .classes1
{
    position: absolute;
    left: 11%;
    text-align: center;
    background-color: #ffe4e1;
    padding: 15px;
    border-radius: 6%;
    cursor: pointer;

}
.course .classes1 h2
{
    margin-bottom: 15px;
}
.course .classes1 p
{
    color: #5f5f5f;
}

.course .classes2
{
    position: absolute;
    left: 41%;
    text-align: center;
    background-color: #ffe4e1;
    padding: 15px;
    border-radius: 6%;
    cursor: pointer;
}
.course .classes2 h2
{
    margin-bottom: 15px;
}
.course .classes2 p
{
    color: #5f5f5f;
}

.course .classes3
{
    position: absolute;
    left: 75%;
    text-align: center;
    background-color: #ffe4e1;
    padding: 15px;
    border-radius: 6%;
    cursor: pointer;
}
.course .classes3 h2
{
    margin-bottom: 15px;
}
.course .classes3 p
{
    color: #5f5f5f;
}
.classes1:hover
{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.classes2:hover
{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.classes3:hover
{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.facilities
{
    width: 100%;
    text-align: center;
    margin-top: 440px;
}
.facilities p
{
    color: #575757;
    margin-bottom: 20px;
}

.facilities .logos
{
    justify-content: space-between;
    display: flex;
    margin: 0 20px 0 0;
}
.facilities .logos .uno
{
    text-align: left;
    margin-left: 120px;
}
.logos .uno img
{
    width: 75%;
    border-radius: 10%;
}
.certificate
{
    margin-top: 200px;
    width: 80%;
    font-size: 1.3em;
}
.certificate img
{
    position: absolute;
    width: 45%;
    left: 20%;
}
.certificate .rank
{
    left: 80%;
    position: absolute;
    width: 15%;
}
.certificate .rank h3
{
    width: 100%;
    background-color: orange;
    color: #575757;
    text-align: center;
    margin-bottom: 5px;

}
.certificate .rank ul
{
    list-style: none;
}
.certificate .rank ul li
{
    margin-top: 10px;
}
.certificate .rank .list
{
    position: absolute;
    left: 90%;
    top: 10%;
    line-height: 33px;
}