*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}
.container{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(46, 45, 45);
    border-radius: 7px;
    flex-basis: 600px;
}
.answer-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.question-container{
    display: flex;
    justify-content: center;
}
.answer-container ul li{
    display: flex;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: black;
    border: 1px solid rgb(100, 98, 98);
    font-weight: 1200;
    cursor: pointer;
}
.question{
    padding: 20px;
}
.answer-container.correct ul li{
        background-color: green;
}
.answer-container.uncorrect ul li{
    background-color: red;
}
.answer-container ul li:hover{
    background-color: #ADD8E6;
}
.button{
    display: flex;
    padding: 7px;
    font-weight: 800;
    font-size: 1.3em;
    letter-spacing: 1.5px;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    position: absolute;
    transform: translateX(0px) translateY(155px);
    cursor: pointer;
}
.wrong-answers{
    padding: 7px;
    background-color:  #004F98;
    width: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrong-answers-span{
    display: flex;
    position: absolute;
    transform: translateX(270px) translateY(50px);
    font-weight: 800;
    font-size: 1.3em;

}
.container.shake{
    animation: shake 0.1s;
}
@keyframes shake{
    0%{
        transform: translate(0px,0px) rotate(0deg);
    }
    25%{
        transform: translate(1px,1px) rotate(1deg);
    }
    50%{
        transform: translate(-1px,-1px) rotate(-1deg);
    }
    75%{
        transform: translate(2px,-1px) rotate(2deg);
    }
    100%{
        transform: translate(0px,0px) rotate(0deg);
    }
}